body {
	background: #FFDABB;
	width: 100%;
	font-size: 1vw;
	padding: 0;
	margin: auto;
}

header {
	padding: 0;
}

.nav {
	text-align: center;
	font-size: 1.5vw;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}

.maintitle {
	text-align: center;
	border: 3px solid black;
	box-sizing: border-box;
	line-height: 1em;
	padding: 0;
}

.maintitle h1 {
	font-size: 4vw;
	font-family: 'VT323', monospace;
}

.maintitle h2 {
	font-size: 3vw;
	font-family: 'VT323', monospace;
}

.schedulelink{
	margin-right: 10px;
	margin-left: 10px;
}
.youtubelink{
	margin-left: 10px;
	margin-right: 10px;
}
.lolslink{
	margin-left: 10px;
}

.maincontent{
	border: 1px solid black;
	box-sizing: border-box;
}

.maincontentp {
	font-family: 'Shadows Into Light', cursive;
	line-height: .8em;
}

.maincontentheader{
	text-decoration: underline;
	font-size: 2vw;
}
.onedrivelink{
	margin-left: 10px;
	margin-right: 10px;
}
