* {
	font-size: 1vw;
}

html{
}

body{
	background: #FFDABB;
	width: 100%;
}

.nav{
	text-align: center;
	font-size: 1vw;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 20px;
}

.maintitle{
	text-align: center;
	border: 3px solid black;
	line-height: 1em;
}

.maintitletext{
	font-size: 4vw;
	font-family: 'VT323', monospace;
}

.mainsubtitletext{
	font-size: 3vw;
	font-family: 'VT323', monospace;
}

.schedulelink{
	margin-right: 10px;
	margin-left: 10px;
}
.youtubelink{
	margin-left: 10px;
	margin-right: 10px;
}
.lolslink{
	margin-left: 10px;
}

.maincontent{
	border: 1px solid black;
}

.maincontentp {
	font-family: 'Shadows Into Light', cursive;
	line-height: .8em;
}

.maincontentheader{
	text-decoration: underline;
	font-size: 2vw;
}
.onedrivelink{
	margin-left: 10px;
	margin-right: 10px;
}
