html{
	background-image: url(http://1.bp.blogspot.com/-CYQ5F9q6YlE/VIX6zgIg8EI/AAAAAAAAGwU/nkOudSDpI18/s1600/website-background-rough-surface.jpg);
	background-repeat: repeat;
}

body{
	max-width: 1600px;
	min-width: 800px; 
}

#nav{
	text-align: center;
	font-size: 25px;
}
#maintitle{
	text-align: center;
	background-image: url(maintitleimg.jpg);
	background-repeat: repeat;
	border: 3px solid black;
}

#maintitletext{
	text-decoration: underline;
	font-size: 50px;
}

#mainsubtitletext{
	font-size: 40px;
	text-decoration: overline;
}

#schedulelink{
	margin-right: 10px;
}
#youtubelink{
	margin-left: 10px;
	margin-right: 10px;
}
#lolslink{
	margin-left: 10px;
}

#maincontent{
	border: 1px solid black;
}

#maincontentheader{
	text-decoration: underline;
	font-size: 120%;
}