body {
	padding: 10px;
	min-width: 1370px;
}

.pageTitle {
	text-align: center;
}
.pageSubtitle {
	text-align: center;
}
.pictures {
	margin: auto;
	display: block;
}
.youtube{
	margin: auto;
	display: block;
}