/* GLOBAL */

* {
	font-size: 1.5vw;
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

body {
	background: #B9D1FF;
	width: 100%;
	font-size: 1.5vw;
	padding: 0;
	margin: 0;
}

/* FIXED NAV */

.nav{
  width: 100%;
  height: 5vw;
  display: block;
  position: fixed;
  margin-top: 0;
  font-size: 2vw;
  top: 0px;
  z-index: 99;
  background: #5D7BB2;
  border: 2px solid black;
  border-radius: 0 0 20px 20px;
}

.nav .fixedNav {
  display: block;
  width: 100vw;
  margin: auto;
  padding: 0;
  height: inherit;
  position: relative;
}

.nav .fixedNav a {
  width: 18vw;
  height: 4vw;
  display: inline-block;
  position: absolute;
  top: .25vw;
  text-align: center;
  font-size: 2vw;
  border: 2px solid black;
  border-radius: 4vw;
  vertical-align: middle;
  line-height: 4vw;
  background: rgba(159,192,255,.3);
}

.nav .fixedNav .homeLink {
  left: 1.67vw;
}

.nav .fixedNav .scheduleLink {
  left: 21.3vw;
}

.nav .fixedNav .onedriveLink {
  left: 41vw;
}

.nav .fixedNav .youtubeLink {
  right: 21.3vw;
}

.nav .fixedNav .lolsLink {
  right: 1.67vw;
}

/* HEADER */

header {
  margin-top: 6vw;
  text-align: center;
  position: relative;
	width: 100%;
  height: 9vw;
  background: #94793F;
  border: 2px solid black;
  border-radius: 20px;

}

header hgroup {
}

header hgroup h1 {
}

header hgroup .mainTitle1 {
  font-size: 4vw;
}

header hgroup span {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 4.5vw;
  left: 18vw;
  width: 64vw;
}

header hgroup .mainTitle2 {
  font-size: 3vw;

}

/*SCHEDULE*/

.tableau {
	display: block;
	margin-top: 1vw;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
	outline: 1px solid red;
}

.tableau div {
	position: absolute;
	border-radius: 20px;
	left: 7%;
}
