* {
	font-size: 1.5vw;
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

/* FIXED NAV */
	nav{
		position: fixed;
		width: 100%;
		height: 2vw;
		top: 0;
		margin: 1% auto 0% auto;
	}

	nav ul {
		width: 50%;
		height: 2vw;
		margin: auto;
		position: relative;
	}

	nav ul li {
		position: absolute;
		width: 33%;
		display: inline;
		transform: translateY(-50%);
		top: 50%;
	}

/*TITLE*/

header {
  margin-top: 6vw;
  text-align: center;
  position: relative;
	width: 100%;
  height: 9vw;
  background: #94793F;
  border: 2px solid black;
  border-radius: 20px;

}

header hgroup {
}

header hgroup h1 {
}

header hgroup .mainTitle1 {
  font-size: 4vw;
}

header hgroup span {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: 4.5vw;
  left: 18vw;
  width: 64vw;
}

header hgroup .mainTitle2 {
  font-size: 3vw;

}

/*ABOUT*/

.about{
	margin-top: 4vw;
	display: none;
}

/*YOUTUBE*/

.youtube{
	margin-top: 4vw;
	display: none;
}

.schedule{
	margin-top: 4vw;
}
