/*TABLEAU SCHEDULE*/
.tableau{
	width: 1370px;
	position: relative;
	display: block;
	margin: auto;
}

.tableau div {
	position: absolute;
	width: 1370px;
	height: 837px;
}

.onedrivelink{
	margin-left: 10px;
	margin-right: 10px;
}
.schedulelink{
	margin-right: 10px;
	margin-left: 10px;
}
.youtubelink{
	margin-left: 10px;
	margin-right: 10px;
}
.lolslink{
	margin-left: 10px;
}

/*NAVIGATION*/

/*.icon-menu3:before {
  content: "\e9bf";
}*/

.icon-menu3 {
  position: fixed;
  top: 1%;
  right: 2.5%;
  font-size: 4vw;
  color:rgba(108, 108, 108, 0.88);
}
